{% extends "bookingsys/base.html" %}

{% block content %}
<div class="text-center">
<h1 class="text-center">Our Restaurants</h1>
<a href="/make-booking">Make a booking here!</a>
</div>
<div class="container text-center" style="height: 70vh; ">
  <h2>The Restaurants</h2>
    <div class="row justify-content-between justify-content-around">
      {% for restaurant in restaurants %}
      <div  class="card cards d-flex justify-content-center mt-2 text-center" id="card">
        <h2 class="card-header"><strong><u>{{ restaurant.name }}</u></strong></h2>
        <div class="card-body d-flex flex-row justify-content-between">
          <div>
            <h4 class="card-title"> {{restaurant.description}}</h4>
            <h4 class="card-title"> {{restaurant.opening_time}}</h4>
            <h5 class="card-title"> {{restaurant.closing_time}}</h5>

          </div>
        </div>
        {% if user.is_superuser %}
          <form method="POST">
            {% csrf_token %}
            <a class="btn btn-info" href="{% url 'edit_restaurant' restaurant.id %}">Edit</a>
            <button type="submit" class="btn btn-danger" name="restaurant-id" value="{{restaurant.id}}">Delete</button>
          </form>
        {% endif %}
      </div>

      {% endfor %}
      
      </div>
    </div>
{%endblock%}




