:root {
    --font-size: 14px;
  }
/* Background image */
#background-home {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('/static/images/homepage.jpg');
    background-size: cover;

      }
/* limit form width */
.my-form {
    max-width: 45%;
    margin: auto;
    }
/* Cards for bookings and restaurants */
.cards { 
    font-size: var(--font-size);
    justify-content: center;
    align-items: center;
    text-align: center;
}
#card {
  width:25vw ;
}
  
  /* .card-body {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-size: calc(12px + 1vw);
  } */

.card-header {
    font-size: 30px;
}
.card-body {
    font-size: 16px;
}
.card-title {
    font-size: 18px;
}
/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
    #card {
      font-size: 14px;
      width: 55vw ;
    }
  }
  
  /* Media query for screens smaller than 480px */
  @media (max-width: 479px) {
    #card {
      font-size: 12px;
      width: 55vw ;
    }
  }

#lgn-btn {
    width: 150px;
}

#disp-usr {
    color: rgba(255, 255, 255, 0.3);

}

@
