{% extends "bookingsys/base.html" %}

{% block content %}
<div class="text-center">
<h1 class="text-center" style="font-size: 6vw; margin: 3vw;">Hungry?</h1>
<h2 style="margin: 2vw;">EatEasy with our new booking system</h2>

<a href="/make-booking" style="font-size: 2vw; margin: 2vw;">Book here!</a>

<div class="container text-center" style="background-color: darkgrey; margin-top: 3vw;">
  <h3>Welcome</h3>
  <div></div>
  <div>EatEasy with our new booking system</div>
    <div class="row">

      <div>gokgg</div>

    </div>
  </div>
</div>
{%endblock%}